.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
  }

  .grid-item {
      width: 100%;
      padding: 20px;
  }

  .mat-form-field {
      width: 90%;
  }
