<form [formGroup]="form" class="normal-form" (ngSubmit)="onSubmit()">
    <div class="form-inputs">
        <mat-form-field>
            <mat-select formControlName="id" placeholder="Paciente*" [formControl]="form.get('id')">
                <ng-container *ngFor="let paciente of pacientes">
                    <mat-option value="{{paciente.id}}">{{ paciente.nome }}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="horaConsultaInicio" 
            [ngxMatDatetimePicker]="picker"
            placeholder="Hora Início*"  
            [formControl]="form.get('horaConsultaInicio')"
            [disabled]=false>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker
             [showSpinners]="showSpinners" 
             [showSeconds]="showSeconds"
             [stepHour]="stepHour"
             [stepMinute]=1 
             [stepSecond]=1 
             [touchUi]="touchUi"
             [enableMeridian]="enableMeridian" 
             [disableMinute]="disableMinute" 
             [hideTime]="hideTime"
             [defaultTime]="defaultTime">
            </ngx-mat-datetime-picker>
            <mat-error>Esse campo é obrigatório.</mat-error>
            <mat-error *ngIf="form.get('horaConsultaInicio').errors?.serverError">
                {{ form.get('horaConsultaInicio').errors?.serverError }}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="horaConsultaFim"
            [ngxMatDatetimePicker]="pickerHoraFim"
            placeholder="Hora Fim*"
            [formControl]="form.get('horaConsultaFim')"
            [disabled]=false>
            <mat-datepicker-toggle matSuffix [for]="pickerHoraFim"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #pickerHoraFim
            [showSpinners]="showSpinners"
            [showSeconds]="showSeconds"
            [stepHour]="stepHour"
            [stepMinute]="stepMinute"
            [stepSecond]="stepSecond"
            [touchUi]="touchUi"
            [enableMeridian]="enableMeridian"
            [disableMinute]="disableMinute"
            [hideTime]="hideTime"
            [defaultTime]="defaultTime"
            >
            </ngx-mat-datetime-picker>
            <mat-error>Esse campo é obrigatório.</mat-error>
            <mat-error *ngIf="form.get('horaConsultaFim').errors?.serverError">
                {{ form.get('horaConsultaFim').errors?.serverError }}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="observacao" matInput placeholder="Observação"  [formControl]="form.get('observacao')">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Adicionar</button>
    </div>
</form>