<form [formGroup]="consultaService.form" class="normal-form" (ngSubmit)="onSubmit()">
    <div class="form-inputs">
        <input type="hidden" formControlName="$key">
        <mat-form-field>
            <mat-select formControlName="paciente" placeholder="Paciente*" [(ngModel)]="paciente">
                <mat-option>None</mat-option>
                <ng-container *ngFor="let paciente of pacientes">
                    <mat-option value="{{paciente.id}}">{{ paciente.nome }}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="horaInicio" [ngxMatDatetimePicker]="picker" placeholder="Hora Início*" [(ngModel)]="horaConsultaInicio"
            [disabled]=false>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds" [stepHour]="stepHour"
              [stepMinute]=5 [stepSecond]=1 [touchUi]=false
              [enableMeridian]=false [disableMinute]=false [hideTime]=false>
            </ngx-mat-datetime-picker>
            <mat-error>Esse campo é obrigatório.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="horaFim" [ngxMatDatetimePicker]="pickerHoraFim" placeholder="Hora Fim*" [(ngModel)]="horaConsultaFim"
            [disabled]=false>
            <mat-datepicker-toggle matSuffix [for]="pickerHoraFim"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #pickerHoraFim [showSpinners]="showSpinners" [showSeconds]="showSeconds" [stepHour]="stepHour"
              [stepMinute]=5 [stepSecond]=1 [touchUi]=false
              [enableMeridian]=false [disableMinute]=false [hideTime]=false>
            </ngx-mat-datetime-picker>
            <mat-error>Esse campo é obrigatório.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="observacao" matInput placeholder="Observação" [(ngModel)]="observacao">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="consultaService.form.invalid">Adicionar</button>
    </div>
</form>