<h1>Editar Paciente</h1>
<form [formGroup]="form" class="normal-form" (ngSubmit)="onSubmit()">
    <div class="form-inputs">
        <input type="hidden" formControlName="id">
        <mat-form-field>
            <input formControlName="nome" matInput placeholder="Nome do Paciente*">
            <mat-error>Esse campo é obrigatório.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="dataDeNascimento" matInput [matDatepicker]="picker" placeholder="Data de Nascimento">
            <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
            <mat-error>Esse campo é obrigatório.</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Adicionar</button>
    </div>
</form>
<button mat-button (click)="onNoClick()">Fechar</button>