<h1>Editar Paciente</h1>
<form [formGroup]="form" class="normal-form" (ngSubmit)="onSubmit()">
    <div class="form-inputs" style="display: flex; align-items: center;">
        <input type="hidden" formControlName="id">
        <mat-form-field style="flex:1">
            <input formControlName="nome" matInput placeholder="Nome do Paciente*">
            <mat-error>Esse campo é obrigatório.</mat-error>
        </mat-form-field>
        <mat-form-field style="flex:1">
            <input formControlName="dataDeNascimento" matInput [matDatepicker]="picker" placeholder="Data de Nascimento">
            <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
            <mat-error>Esse campo é obrigatório.</mat-error>
        </mat-form-field>
        <div style="flex:0.7; padding: 8px">
            <button mat-raised-button style="width: 100%;" color="primary" type="submit" [disabled]="form.invalid">Salvar</button>
        </div>
    </div>
</form>
<button mat-raised-button color="warn" style="width: 100%;" (click)="onNoClick()">Fechar</button>