<h1>Editar consulta</h1>
<form [formGroup]="consultaService.form" class="normal-form" (ngSubmit)="onSubmit()">
    <div class="form-inputs">
        <input type="hidden" formControlName="$key">
        <mat-form-field>
            <mat-select formControlName="paciente" placeholder="Paciente*" [(value)]="data.personId">
                <ng-container *ngFor="let paciente of data.pacientes">
                    <mat-option value="{{paciente.id}}">{{ paciente.nome }}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="horaConsultaInicio" 
            [ngxMatDatetimePicker]="picker"
            placeholder="Hora Início*"  
            [(ngModel)]="data.consulta.horaConsultaInicio"
            [disabled]=false>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker
             [showSpinners]="showSpinners" 
             [showSeconds]="showSeconds"
             [stepHour]="stepHour"
             [stepMinute]=1 
             [stepSecond]=1 
             [touchUi]="touchUi"
             [enableMeridian]="enableMeridian" 
             [disableMinute]="disableMinute" 
             [hideTime]="hideTime"
             [defaultTime]="defaultTime">
            </ngx-mat-datetime-picker>
            <mat-error>Esse campo é obrigatório.</mat-error>
            <mat-error *ngIf="consultaService.form.get('horaConsultaInicio').errors?.serverError">
                {{ consultaService.form.get('horaConsultaInicio').errors?.serverError }}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="horaConsultaFim"
             [ngxMatDatetimePicker]="pickerHoraFim"
             placeholder="Hora Fim*" 
             [(ngModel)]="data.consulta.horaConsultaFim"
            [disabled]=false>
            <mat-datepicker-toggle matSuffix [for]="pickerHoraFim"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #pickerHoraFim
            [showSpinners]="showSpinners"
            [showSeconds]="showSeconds"
            [stepHour]="stepHour"
            [stepMinute]="stepMinute"
            [stepSecond]="stepSecond"
            [touchUi]="touchUi"
            [enableMeridian]="enableMeridian"
            [disableMinute]="disableMinute"
            [hideTime]="hideTime"
            [defaultTime]="defaultTime"
            >
            </ngx-mat-datetime-picker>
            <mat-error>Esse campo é obrigatório.</mat-error>
            <mat-error *ngIf="consultaService.form.get('horaConsultaFim').errors?.serverError">
                {{ consultaService.form.get('horaConsultaFim').errors?.serverError }}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="observacao" matInput placeholder="Observação"  [(ngModel)]="data.consulta.observacao">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="consultaService.form.invalid">Adicionar</button>
    </div>
</form>
<p>Selecionado: {{ data.consulta.personId }}</p>
<button mat-button (click)="onNoClick()">Fechar</button>